

:root {
  /* Header height  */
  --header-height: 56px;
  /* Colors  */
  --text-color: #026eed;
  --title-color: #56a5f1;
  --bgligth-0-color: #d5f3ff;
  --bgligth-100-color: #51b4e8;
  --bgdark-0-color: #53388f;
  --bgdark-100-color: #2f2958;
  --cardligth-0-color: #E5f2ff;
  --cardligth-97-4-color: #d5f3ff;
  --bgbotonligth-color: #38A0D8;
  --bgbotondark-color: #7d69f1;
  --title-principal: white;
  


  /* Font and typography */
  --body-font:  'Lato', sans-serif;
  --T1:95px;
  --T2:23px;
  --T3:18px ;
  --T4:16px;
  --T5:12px;
  


  /* Margins  */
  --sp-0-5: .5rem;
  --sp-0-75: .75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  /* z index  */
  --z-fixed: 1;
  --z-modal: 2;
}


button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

/* scroll bar */
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/* selection */
::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.section {
  padding: var(--sp-2) 0 var(--sp-1);
}




html, body {

  background: radial-gradient(var(--bgligth-0-color) 0%, var(--bgligth-100-color) 100%);
  font-family: var(--body-font);
}



.title {
  text-align: left;
  width: fit-content; /* Cambio: establece el ancho del título según su contenido */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--normal-font);
  color: var(--title-principal);
  font-weight: bold;
}


.search_bar {
  text-align: center;
  margin-bottom: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}



.weather_card {
  background: radial-gradient(#E5F2FF 0%, #D5F3FF 97.4%);
  filter: drop-shadow(0px 4.85px 4.85px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  margin: 40px auto;
  max-width: 300px;
  margin-top: 50px;
}
  


.temperature {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: var(--text-color)
}

.environmental_container {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
  color: var(--title-color);
}

.environmental_container p{
  margin-bottom: 5px;
}


.bottom_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  color: var(--text-color);
  font-weight: bold;
}

.city_container {
  flex: 1;
  text-align: left;
}

.sky_status {
  flex: 1;
  text-align: right;
}

.units_button {
  width: 178px;
  height: 38px;
  background-color: var(--bgbotonligth-color);
  filter: drop-shadow(0px 4.85px 4.85px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  color: var(--text-temperature);
  margin: 0 auto; /* Agrega esta propiedad para centrar horizontalmente el botón */
  display: block; /* Asegura que el botón se comporte como un bloque */
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 190px;
  margin: 0 auto; /* Agrega esto para centrar el contenedor horizontalmente */
}
 
.input {
  width: 200%; /* Ancho del elemento de entrada: 200% del contenedor */
  height: 40px; /* Altura del elemento de entrada: 40px */
  line-height: 28px; /* Altura de línea del texto dentro del elemento: 28px */
  padding: 0 1rem; /* Relleno en la parte superior e inferior: 0px, Relleno en los lados derecho e izquierdo: 1rem */
  padding-left: 2.5rem; /* Relleno adicional en el lado izquierdo: 2.5rem */
  border: 2px solid transparent; /* Borde de 2px sólido y transparente */
  border-radius: 8px; /* Radio de borde: 8px */
  outline: none; /* Sin contorno cuando el elemento está enfocado */
  background-color: #f3f3f4; /* Color de fondo del elemento: #f3f3f4 */
  color: #0d0c22; /* Color del texto dentro del elemento: #0d0c22 */
  transition: .3s ease; /* Transición suave con duración de 0.3s */
}
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: var(--bgbotonligth-color);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 .bar {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
 
 
 