:root {
  /* Header height  */
  --header-height: 56px;
  /* Colors  */
  --text-color: #026eed;
  --title-color: #56a5f1;
  --bgligth-0-color: #d5f3ff;
  --bgligth-100-color: #51b4e8;
  --bgdark-0-color: #53388f;
  --bgdark-100-color: #2f2958;
  --cardligth-0-color: #e5f2ff;
  --cardligth-97-4-color: #d5f3ff;
  --carddark-0-color: #5836b3;
  --carddark-0-01-color: #5936b4;
  --carddark-100-color: #362a84;
  --bgbotonligth-color: #38a0d8;
  --bgbotondark-color: #7d69f1;
  --title-principal: white;

  /* Font and typography */
  --body-font: "Lato", sans-serif;
  --T1: 95px;
  --T2: 23px;
  --T3: 18px;
  --T4: 16px;
  --T5: 12px;

  /* Margins  */
  --sp-0-5: 0.5rem;
  --sp-0-75: 0.75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  /* z index  */
  --z-fixed: 1;
  --z-modal: 2;
}

button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/* selection */
::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.section {
  padding: var(--sp-2) 0 var(--sp-1);
}


body {
  background: radial-gradient(
    var(--bgligth-0-color) 0%,
    var(--bgligth-100-color) 100%
  );
  font-family: var(--body-font);
}

.title {
  text-align: left;
  width: fit-content; /* Cambio: establece el ancho del título según su contenido */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--normal-font);
  color: var(--title-principal);
  font-weight: bold;
}

.search_bar {
  text-align: center;
  margin-bottom: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.weather_card {
  position: relative;
  background: radial-gradient(
    var(--cardligth-0-color) 0%,
    var(--cardligth-97-4-color) 97.4%
  );
  filter: drop-shadow(0px 4.85px 4.85px rgba(0, 0, 0, 0.25));
  border-radius: 10% 90% 10% 30%;
  padding: 2rem 1rem;
  text-align: center;
  margin: 40px auto;
  max-width: 400px;
  margin-top: 50px;
}

.temperature {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: var(--text-color);
  margin: 0;
  position: relative;
  z-index: 1; /* aumentar el z-index para que los párrafos estén por encima de la tarjeta */
}

.Climate_Image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.environmental_container {
  text-align: left;
  font-size: 0.8rem;
  color: var(--title-color);
}

.environmental_container p {
  margin-bottom: 5px;
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-weight: bold;
}

.city_container {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.sky_status {
  /* text-align: right; */
  margin-top: 11px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.units_button {
  width: 178px;
  height: 38px;
  background-color: var(--bgbotonligth-color);
  filter: drop-shadow(0px 4.85px 4.85px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  color: var(--text-temperature);
  margin: 0 auto; /* Agrega esta propiedad para centrar horizontalmente el botón */
  display: block; /* Asegura que el botón se comporte como un bloque */
}

.group {
  display: flex;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 400px;
  margin: 0 auto; /* Agrega esto para centrar el contenedor horizontalmente */
  margin-top: 2%;
}

.input {
  width: 200%; /* Ancho del elemento de entrada: 200% del contenedor */
  height: 40px; /* Altura del elemento de entrada: 40px */
  line-height: 28px; /* Altura de línea del texto dentro del elemento: 28px */
  padding: 0 1rem; /* Relleno en la parte superior e inferior: 0px, Relleno en los lados derecho e izquierdo: 1rem */
  padding-left: 2.5rem; /* Relleno adicional en el lado izquierdo: 2.5rem */
  border: 2px solid transparent; /* Borde de 2px sólido y transparente */
  border-radius: 8px; /* Radio de borde: 8px */
  outline: none; /* Sin contorno cuando el elemento está enfocado */
  background-color: #f3f3f4; /* Color de fondo del elemento: #f3f3f4 */
  color: #0d0c22; /* Color del texto dentro del elemento: #0d0c22 */
  transition: 0.3s ease; /* Transición suave con duración de 0.3s */
}
.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--bgbotonligth-color);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.bar {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* ======= Darkmode ======= */
.wrapper {
  position: absolute;
  top: 1%;
  right: 0%;
  z-index: 2;
  height: 0rem
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0
}

.toggle {
  position: relative;
  right: -36px;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  background: #190c31cc;
  border-radius: 50px;
  transition: .5s;
  overflow: hidden;
  transform: scale(.35);
  border: 1px solid rgba(255,255,255,.341)
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px #fff;
  transition: all .5s ease-out
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: .5s
}

.crater-1 {
  background: #FFFFF9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px
}

.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px
}

.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px
}

.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px
}

.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px #fff
}

.star-1 {
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px
}

.star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px
}

.star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px
}

.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px
}

.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px
}

.star-6,.star-7,.star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite
}

.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s
}

.star-7 {
  right: 50px;
  bottom: 60px
}

.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s
}

@keyframes travel {
  0% {
      transform: rotate(-45deg) translate(70px)
  }

  50% {
      transform: rotate(-45deg) translate(-20px);
      box-shadow: 5px 0 6px 1px #fff
  }

  to {
      transform: rotate(-45deg) translate(-30px);
      width: 2px;
      height: 2px;
      opacity: 0;
      box-shadow: none
  }
}

#hide-checkbox:checked+.toggle {
  background: #24d7f719
}

#hide-checkbox:checked+.toggle .toggle-button {
  background: #F7FFFF;
  transform: translate(102px);
  box-shadow: 0 0 35px 5px #fff
}

#hide-checkbox:checked+.toggle .toggle-button .crater {
  transform: rotate(-45deg) translate(70px)
}

#hide-checkbox:checked+.toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none
}

#hide-checkbox:checked+.toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #FFF;
  left: 20px;
  top: 25px;
  box-shadow: none
}

#hide-checkbox:checked+.toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #FFF;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px #0000001a
}

#hide-checkbox:checked+.toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #FFF;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px #0000001a
}

#hide-checkbox:checked+.toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #FFF;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px #0000001a
}

#hide-checkbox:checked+.toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #FFF;
  left: 30px;
  bottom: 20px;
  box-shadow: none
}

#hide-checkbox:checked+.toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #FFF;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px #0000001a
}

#hide-checkbox:checked+.toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px #0000001a
}

#hide-checkbox:checked+.toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px #0000001a
}

@keyframes move {
  0% {
      transform: none
  }

  25% {
      transform: translate(2px)
  }

  to {
      transform: translate(-2px)
  }
}

p.morning {
  background: #e67e22
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  margin: auto
}

.background {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #19171794;
  z-index: 3;
  backdrop-filter: blur(15px)
}

.loader:after {
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid #FFF;
  transform: rotate(45deg) translate(0);
  box-sizing: border-box;
  animation: animMarker .4s ease-in-out infinite alternate
}

.loader:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0,0,0,.2);
  animation: animShadow .4s ease-in-out infinite alternate
}


/* ===== dark mode ===== */

body.dark-mode {
  background: radial-gradient(var(--bgdark-0-color) 0%,
  var(--bgdark-100-color) 97.4%);
  color: #fff;
}

.dark-mode .weather_card {
  background: radial-gradient(
    var(--carddark-0-color) 0%,
    var(--carddark-0-01-color) 0.01%,
    var(--carddark-100-color) 100%
  );
}

.dark-mode .units_button{
  background-color: var(--bgbotondark-color); 
}